services:
  next:
    build:
      context: .
      dockerfile: Dockerfile.next
    container_name: frontend
    env_file: .env
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_REALTIME_URL=${NEXT_PUBLIC_REALTIME_URL}
    ports:
      - "3030:3000"
    restart: unless-stopped