@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

:root {
    --dark-grey: hsl(0, 0%, 5%);
    --container-grey: hsl(0, 0%, 15%);
    --grey: hsl(0, 0%, 25%);
    --light-grey: hsl(0, 0%, 35%);
    --white: hsl(0, 0%, 90%);
    --purple: hsl(276, 91%, 38%);
}

body {
    background-color: var(--dark-grey);
    color: var(--white);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Inter", sans-serif;
}

.page-container {
    text-align: center;
    margin-top: 50px;
}